name: Deploy Angular to VPS

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build production
        run: npm run build -- --configuration production

      - name: Detect build output folder
        run: |
          
          if ls -d dist/*/browser >/dev/null 2>&1; then
            echo "BUILD_PATH=$(ls -d dist/*/browser | head -n 1)" >> $GITHUB_ENV
          else
            echo "BUILD_PATH=$(ls -d dist/* | head -n 1)" >> $GITHUB_ENV
          fi
          echo "Using BUILD_PATH=$BUILD_PATH"

      - name: Install SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VPS_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -p ${{ secrets.VPS_PORT }} -H ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to /var/www/html/examen
        run: |
          rsync -avz --delete -e "ssh -p ${{ secrets.VPS_PORT }}" \
            "${BUILD_PATH}/" \
            ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:/var/www/html/examen/